<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="FileTimerInSec" value="5000"/>
		<add key="InputFolder" value="C:\XMLParse\InputFolder" />
		<add key="OutputFolder" value="C:\XMLParse\OutputFolder" />
		<add key="ReferenceDataFile" value="C:\XMLParse\ReferenceData.xml" />
	</appSettings>
</configuration>